<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        * {padding: 0;margin: 0;box-sizing: border-box;}
        span, strong, i, em, u {display: inline-block;}
        html,body {font-family: Roboto, sans-serif;font-size: 14px;color: #333333;}
        .container {margin: auto;padding: 1rem;max-width: 900px;}
        code, pre {font-family: Consolas,"courier new"; padding: 2px; font-size: 0.75rem; display: block; max-width: max-content; padding-right: 3rem; margin: 0.75rem 0; margin-left: 0.5rem; border-radius: 0.5rem; color: inherit;}
        code.blue {color: #0083ee; border: 1px dotted #99afc2; background-color: #e9f4ff;}
        code.green {color: #00a300; border: 1px dotted #c2ddb2; background-color: #f1ffe9;}
        code.red {color: #a30000; border: 1px dotted #ddb2b2; background-color: #fff3f3;}
        .blue {color: #0083ee;}
        .green {color: #00a300;}
        .red {color: #a30000;}
        header {padding: 0.75rem; margin-bottom: 0.5rem;border: 1px dotted lightgrey;text-align: center;border-radius: 10px;}
        header h1 {font-size: 1.5rem;font-weight: 600;text-align: center;}
        h2 {padding: 0 0.75rem; margin-bottom: 0.5rem;font-size: 1.35rem;font-weight: 600;}
        h3 {padding: 0.5rem 0.75rem; margin-bottom: 0.0rem;font-size: 1.15rem;font-weight: 600;}
        strong {font-weight: 600;font-size: 1rem;}
        .small-text {font-size: 0.80rem;}
        p {padding: 0 0.75rem; margin-bottom: 0.5rem;font-size: 1rem;line-height: 1.25;}
        ul li {padding: 0 0.75rem; margin-bottom: 0.5rem;font-size: 1rem;list-style: circle;list-style-position: inside;}
        hr {margin: 0.5rem 0;padding: 0;color: lightgrey;}
        .border-b {border-bottom: 1px dotted lightgrey;}
        .border {border: 1px dotted lightgrey;}
        .imp-note {border: solid lightgrey;border-width: 1px 0;background: #f0f0f0;font-style: italic;color: black;font-family: 'Trebuchet MS', sans-serif; text-align: justify;}
        .top-box {border: 1px solid lightgrey;border-radius: 10px;}
        .accordion-box {border: 1px solid lightgrey;border-radius: 10px;}
        .text-center{text-align: center;}
        .text-left{text-align: left;}
        .text-right{text-align: right;}
        table{border-collapse: collapse; width: 99%;}
        table thead{background-color: #f0f0f0;vertical-align: top;}
        table th, table td{border: 1px solid lightgrey;padding: 0.5rem 0.75rem;margin: 1px;}
        small{font-size: 0.75rem;font-weight: normal;}
        .accordion-box h3 {display: flex;justify-content: space-between; align-items: center;padding: 0 0.75rem;height: 2rem;}
        .accordion-box h3>label {cursor: pointer; margin-bottom: 0;flex-grow: 1;line-height: 2rem;height: 100%;}
        .accordion-box h3>input {transition: all 0.5s;opacity: 1;position:relative;padding: 0;margin: 0;cursor: pointer;}
        .accordion-box h3>input::before {content: '';position: absolute;background-color: lightgrey;display: block;width: 2rem;height: 2rem;top: -50%;left: -75%; border-radius: 50%;cursor: pointer;}
        .accordion-box h3>input::after {content: '+';top: -50%;font-size: 2rem;font-weight: normal;position: absolute;width: 2rem;height: 2rem;line-height:2rem;color: #333333;text-align: center;left: -75%;cursor: pointer;}
        .accordion-box h3>input:checked::after {content: '-';top: -70%;font-size: 2.750rem;font-weight: normal;}
        /* .accordion-box h3:has(input:checked) ~ .code-box {overflow: hidden;padding-top: 0rem;}
        .accordion-box h3 ~ .code-box {overflow: visible;padding-top: 1rem;} */
        .code-box {height: 0;overflow: hidden;transition: height 1.0s ease;}
        .code-box>*:first-child {margin-top: 1rem;}
        .preview {display: block;padding: 0.30rem;text-align: center;}
        .preview img {display: block;max-width: 100%; margin: auto;}
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".accordion-box .check-box").forEach(checkbox => {
                checkbox.addEventListener("click", function () {
                    const codeBox = this.closest(".accordion-box").querySelector(".code-box");
                    document.querySelectorAll(".accordion-box .check-box").forEach(box => {
                        if (box !== checkbox) {
                            box.checked = false;
                            const otherCodeBox = box.closest(".accordion-box").querySelector(".code-box");
                            otherCodeBox.style.height = "";
                            otherCodeBox.classList.remove("show");
                        }
                    });
                    if (codeBox.style.height) {
                        codeBox.style.height = "";
                        codeBox.classList.remove("show");
                        this.checked = false;
                    } else {
                        codeBox.style.height = codeBox.scrollHeight + "px";
                        codeBox.classList.add("show");
                        this.checked = true;
                        setTimeout(() => {
                            this.closest(".accordion-box").scrollIntoView({ behavior: "smooth", block: "start" });
                        }, 1100);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>ACS PRODUCT UI Handy Book For Front Development Team</h1>
        </header>

        <div class="top-box py-3 mb-2">
            <!-- Introduction -->
            <div class="px-1">
                <h2>Introduction</h2>
                <p>
                    Hi Everyone,<br/>
                    As we are now using the same UI & codes which we have done for DNATA this will be a helping hand guide for simple and basic HTML/CSS code writing/ implementation for any existing page UI, updating or adding new page (UI).
                </p>
            </div>
            <!-- IMP NOTE -->
            <div class="imp-note mt-3 mb-2 px-1">
                <h3>IMP Note</h3>
                <p>
                    <strong>Team,</strong> We now have 2 different CSS files for RTL & LTR support  
                    (RTL is for left to right languages where the application will be in Arabic, Aramaic, Hebrew or Urdu like languages). SO NOW ONWARDS WE NEED TO UPDATE THESE TWO FILES AT THE SAME TIME if we create any new class. & If the class has any inline margin or padding or has alignment properties, we must reverse those in the style.rtl.css. Do contact Me or Ramji for the same if you have doubts.
                </p>
            </div>
            <!-- Good Practices Every DEV Should Follow -->
            <div class="px-1">
                <h3>Few basic good practices:</h3>
                <p>
                    Never use/write inline style. This will make our layout nonresponsive.
                    Always align code when writing anything. Do try to (copy) & use HTML codes/CSS classes which are already available & in use, on other pages, if a similar UI is needed. This will help us to avoid creating CSS classes with the same properties but different names.
                </p>
            </div>
        </div>
                
        <!-- How to USE BOOTSTRAP GRID The Correct Way -->
        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-1">How to use bootstrap row + col the correct way:</label> <input type="checkbox" class="check-box" id="check-box-1">
            </h3>
            <div class="code-box">
                <p>
                    First thing is that we are using Bootstrap V4.6; so in V4.6 the row-column grid system has negative margins hence we should follow some basics.<br/>
                    Always use row > col, never use col without wrapping it in a row or don't use a row which does not have div with “col-” class inside it.
                </p>
                <br/>
                <div>
                    <p class="small-text">
                        CORRECT WAY, row-col code should be written like this:
                    </p>
                    <code class="green">
<pre>
    &lt;div class="row"&gt;
        &lt;div class="col-md-**"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                    </code>
                    <p class="small-text">
                        Or if row inside a row, it should always be (row should not be enclosed directly by another row)
                    </p>
                    <code class="green">
<pre>
    &lt;div class="row"&gt;
        &lt;div class="col-md-**"&gt;
        &lt;/div&gt;
        &lt;div class="col-md-**"&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-**"&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
                    </code>
                    
                    <p class="small-text">
                        INCORRECT WAY, row inside col which is not wrapped in a row & no col used in inner row
                    </p>
                    <code class="red">
<pre>
    &lt;div&gt;
        &lt;div class="col-md-12"&gt;
            &lt;div class="row"&gt;
                date/text/form
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div&gt;
        &lt;div class="row"&gt;
            date/text/form
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row col-12"&gt;
        date/text/form
    &lt;/div&gt;
</pre>
                    </code>
                    <p class="small-text">
                        Avoid div inside div without any class or without required
                    </p>
                    <code class="red">
<pre>
    &lt;div&gt;
        &lt;div&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-**"&gt;
                    Some form/ Content
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
                    </code>                
                </div>                
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-7">Custom column spacing options for bootstrap row-column grid system:</label> <input type="checkbox" class="check-box" id="check-box-7">
            </h3>
            <div class="code-box">
                <p class="red bg-red">Note: igx-input-group is not added in the code; it is done for better visual understanding</p>
                <p><strong>0 or NO spacing between columns in side a row:</strong></p>
                <code class="green">
<pre>
    &lt;div class="row no-gutters"&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                </code>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Row-Col-Spacing-no.png" alt="NO Spacing between columns in a row">
                </div>
                <br/>
                <hr/>
                <p><strong>Very small spacing between columns in side a row:</strong></p>
                <code class="green">
<pre>
    &lt;div class="row gutters-xs"&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                </code>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Row-Col-Spacing-xs.png" alt="Small spacing between columns in a row">
                </div>
                <br/>
                <hr/>
                <p><strong>Small spacing between columns in side a row:</strong></p>
                <code class="green">
<pre>
    &lt;div class="row gutters-sm"&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                </code>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Row-Col-Spacing-sm.png" alt="Medium spacing between columns in a row">
                </div>
                <br/>
                <hr/>
                <p><strong>Medium spacing between columns in side a row:</strong></p>
                <code class="green">
<pre>
    &lt;div class="row gutters-md"&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                </code>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Row-Col-Spacing-md.png" alt="Default Spacing between columns in a row">
                </div>
                <br/>
                <hr/>
                <p><strong>Default spacing between columns in side a row:</strong></p>
                <code class="green">
<pre>
    &lt;div class="row"&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
        &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt; &lt;div class="col-md-4 mb-2"&gt;&lt;/div&gt;
    &lt;/div&gt;
</pre>
                </code>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Row-Col-Spacing-default.png" alt="Default Spacing between columns in a row">
                </div>
            </div>
        </div>

        <!-- Spacing i.e. PADDING & MARGIN Classes -->
        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-2">Applying Spacing Padding, Margin:</label> <input type="checkbox" class="check-box" id="check-box-2">
            </h3>
            <div class="code-box">
                <p class="small-text">
                    <span class="red">Don't use: &lt;br&gt; for spacing between two block elements, also don't use multiple "&amp;nbsp; &amp;nbsp; &amp;nbsp;"</span><br/>
                    To give padding/space between text/elements,<br/>
                    <span class="green">one should use padding or margin classes available</span> ## (list is provided below the BAD cod examples)
                </p>
                <p class="small-text">
                    <span class="red">INCORRECT CODE Ex.:</span>
                </p>
                <code class="red">
<pre>
    &lt;div&gt;some data/text/form&lt;/div&gt;
        &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;
            &lt;div&gt;some data/text/form&lt;/div&gt;
                &lt;br /&gt;
            &lt;div&gt;some data/text/form&lt;/div&gt;
        &lt;span&gt;some text&lt;/span&gt; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &lt;strong&gt;some text&lt;/strong&gt;
    &lt;p&gt;some text &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &lt;span&gt;some text&lt;/span&gt;&lt;/p&gt;
</pre>
                </code>
                <br/>
    
                <p class="small-text">
                    Use classes available for spacings, margins gutters between elements. Below is the list.
                </p>
                <br/>
    
                <p>
                    <strong>List of bootstrap classes available for PADDING:</strong>
                </p>
                <div>
                    <ul>
                        <li>p-1 [<- this is for padding from all sides value is the smallest]</li>
                        <li>p-2 [<- --"-- little more than above class]</li>
                        <li>p-3 [<- --"-- value is the medium]</li>
                        <li>p-4 [<- --"-- little more than above class]</li>
                        <li>p-5 [<- --"-- value is the largest]</li>
                        <li></li>
                        <li>pr-1 [<- adds padding only on right side, value same as above but will be applied on right side only]</li>
                        <li>pr-2 [<- --"--]</li>
                        <li>pr-3 [<- --"--]</li>
                        <li>pr-4 [<- --"--]</li>
                        <li>pr-5 [<- --"--]</li>
                        <li></li>
                        <li>pl-1 [<- adds padding only on left side, value same as above but will be applied on left side only]</li>
                        <li>pl-2 [<- --"--]</li>
                        <li>pl-3 [<- --"--]</li>
                        <li>pl-4 [<- --"--]</li>
                        <li>pl-5 [<- --"--]</li>
                        <li></li>
                        <li>pt-1 [<- adds padding only on top side, value same as above but will be applied on top side only]</li>
                        <li>pt-2 [<- --"--]</li>
                        <li>pt-3 [<- --"--]</li>
                        <li>pt-4 [<- --"--]</li>
                        <li>pt-5 [<- --"--]</li>
                        <li></li>
                        <li>pb-1 [<- adds padding only on bottom side, value same as above but will be applied on bottom side only]</li>
                        <li>pb-2 [<- --"--]</li>
                        <li>pb-3 [<- --"--]</li>
                        <li>pb-4 [<- --"--]</li>
                        <li>pb-5 [<- --"--]</li>
                    </ul>
                </div>
                <br />
    
                <p>
                    <strong>List of bootstrap classes available for MARGIN:</strong>
                </p>
                <div>
                    <ul>
                        <li>m-1 [<- this is for margin from all sides value is the smallest]</li>
                        <li>m-2 [<- --"-- little more than above class]</li>
                        <li>m-3 [<- --"-- value is the medium]</li>
                        <li>m-4 [<- --"-- little more than above class]</li>
                        <li>m-5 [<- --"-- value is the largest]</li>
                        <li></li>
                        <li>mr-1 [<- adds margin only on right side, value same as above but will be applied on right side only]</li>
                        <li>mr-2 [<- --"--]</li>
                        <li>mr-3 [<- --"--]</li>
                        <li>mr-4 [<- --"--]</li>
                        <li>mr-5 [<- --"--]</li>
                        <li></li>
                        <li>ml-1 [<- adds margin only on left side, value same as above but will be applied on left side only]</li>
                        <li>ml-2 [<- --"--]</li>
                        <li>ml-3 [<- --"--]</li>
                        <li>ml-4 [<- --"--]</li>
                        <li>ml-5 [<- --"--]</li>
                        <li></li>
                        <li>mt-1 [<- adds margin only on top side, value same as above but will be applied on top side only]</li>
                        <li>mt-2 [<- --"--]</li>
                        <li>mt-3 [<- --"--]</li>
                        <li>mt-4 [<- --"--]</li>
                        <li>mt-5 [<- --"--]</li>
                        <li></li>
                        <li>mb-1 [<- adds margin only on bottom side, value same as above but will be applied on bottom side only]</li>
                        <li>mb-2 [<- --"--]</li>
                        <li>mb-3 [<- --"--]</li>
                        <li>mb-4 [<- --"--]</li>
                        <li>mb-5 [<- --"--]</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Classes for Font Size & Font Weight -->
        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-3">Classes for Font Size & Font Weight:</label> <input type="checkbox" class="check-box" id="check-box-3">
            </h3>
            <div class="code-box">
                <p>
                    <strong>Classes for Font Weight:</strong>
                </p>
                <p>
                    Default theme we are currently using has "Roboto" font as default And we have below font-weight values available:
                </p>
                <div class="pl-2">
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Expected Output Font Weight</th>
                                <th>Class Name Available</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>To Get (font-weight : Normal) Use Class</td>
                                <td><strong>.fw-normal</strong></td>
                            </tr>
                            <tr>
                                <td>To Get (font-weight : 300) Use Class</td>
                                <td><strong>.fw-300</strong></td>
                            </tr>
                            <tr>
                                <td>To Get (font-weight : 400) Use Class</td>
                                <td><strong>.fw-400</strong></td>
                            </tr>
                            <tr>
                                <td>To Get (font-weight : 500) Use Class</td>
                                <td><strong>.fw-500</strong></td>
                            </tr>
                            <tr>
                                <td>To Get (font-weight : 600) Use Class</td>
                                <td><strong>.fw-600</strong></td>
                            </tr>        
                            <tr>
                                <td>To Get (font-weight : 900) Use Class</td>
                                <td><strong>.fw-900</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>

                <p>
                    <strong>Classes for Font Sizes:</strong>
                </p>
                <p>
                    Default theme we are currently using has "Roboto" font as default And we have below font-sizes values available:<br/><br/>
                    <u class="red">NOTE: The Responsive behaviour of this application is based on few mediaqueries which use base font size, & on that basis the REM unit sets font size all over to every element relative to the base font size like percentage so we should use thsee classes only & should avoid using direct PX unit based font sizes or classes.</u>
                </p>
                <br/>
                <div class="pl-2">
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Expected Output Font Size</th>
                                <th>Class Name Available</th>
                                <th>The Class Will Give Output Font Size</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>To Get (font-size : 10px) Use Class</td>
                                <td><strong>fnt-0-75rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 10px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 14px) Use Class</td>
                                <td><strong>fnt-0-85rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 14px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 16px) Use Class</td>
                                <td><strong>fnt-1rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 16px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 20px) Use Class</td>
                                <td><strong>fnt-1-25rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 19-20px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 22px) Use Class</td>
                                <td><strong>fnt-1-5rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 21-22px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 24px) Use Class</td>
                                <td><strong>fnt-1-75rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 24-25px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 28px) Use Class</td>
                                <td><strong>fnt-2rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 28px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 31px) Use Class</td>
                                <td><strong>fnt-2-25rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 31-32px)</i></td>
                            </tr>
                            <tr>
                                <td>To Get (font-size : 35px) Use Class</td>
                                <td><strong>fnt-2-5rem</strong></td>
                                <td><i class="blue">(This will be aprox. about 35px)</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>

                <p>
                    <strong>Classes For Alignment:</strong><br/>
                    These are Bootstrap 4 classes only.
                </p>
                <br/>
                <div class="pl-2">
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Align Content</th>
                                <th>Available Class Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>To Align Text/ Any Inline Content in Center Use Class</td>
                                <td><strong>Text-center</strong></td>
                            </tr>
                            <tr>
                                <td>To Align Text/ Any Inline Content in Left Use Class</td>
                                <td><strong>Text-left</strong></td>
                            </tr>
                            <tr>
                                <td>To Align Text/ Any Inline Content in right Use Class</td>
                                <td><strong>Text-right</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>


                <p>
                    <strong>Alignment Inside A Flex Box (D-Flex):</strong><br/>
                    If a display flex element is there this is how the child elements can be aliged. Two types of alignments will be available, align childrens vertically Or Horizontally, these two are called as:<br/>
                    <strong>1. Align Items (It is for Horizontal alignment)</strong> <strong class="ml">2. Justify Items (It is for Vertical alignment)</strong>
                </p>
                <br/>
                <div class="pl-2">
                    <p>
                        Below Classes Are For Horizontal Alignments of Items Inside The Flex Box:
                    </p>
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Align Items</th>
                                <th>Available Class Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>
                                    This Will Align All Items Horizontally Center
                                </td>
                                <td>
                                    <strong>align-items-center</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Align All Items Horizontally End<br/>
                                    i.e. At The Bottom
                                </td>
                                <td>
                                    <strong>align-items-end</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Align All Items Horizontally Start<br/>
                                    i.e. At The Top
                                </td>
                                <td>
                                    <strong>align-items-start</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>

                <div class="pl-2">
                    <p>
                        Below classes Are For Spacing of Items Inside The Flex Box:
                    </p>
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Justify Items</th>
                                <th>Available Class Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>
                                    This Will Justify Items Center<br/> 
                                    i.e. Equal Space Will Be Kept On Both Side
                                </td>
                                <td>
                                    <strong>Justify-content-center</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Justify Items End<br/>
                                    i.e. Remaining Space Will Be On Left Side
                                </td>
                                <td>
                                    <strong>Justify-content-end</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Justify Items Start<br/>
                                    i.e. Remaining Space Will Be On Right Side
                                </td>
                                <td>
                                    <strong>Justify-content-start</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Justify Items By<br/>
                                    Allocating Equal Space Between Each Item
                                </td>
                                <td>
                                    <strong>Justify-content-between</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    This Will Justify Items By<br/>
                                    Allocating Equal Space Arround Each Item
                                </td>
                                <td>
                                    <strong>Justify-content-around</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>

                <p>
                    <strong>Classes For Font Style:</strong><br/>
                    Classes For Font Style Italic, underline, Strike Through, Overline etc.
                </p>
                <br/>
                <div class="pl-2">
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>Font Style</th>
                                <th>Available Class Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>To Make Text Italic Use This Class</td>
                                <td><strong>text-italic</strong></td>
                            </tr>
                            <tr>
                                <td>To Apply Underline To A Text This Class</td>
                                <td><strong>underlined</strong></td>
                            </tr>
                            <tr>
                                <td>To Apply Overline To A Text This Class</td>
                                <td><strong>overline</strong></td>
                            </tr>
                            <tr>
                                <td>To Apply Strick-Out From A Text This Class</td>
                                <td><strong>strickout</strong></td>
                            </tr>
                            <tr>
                                <td>To Remove Underline From A Text This Class</td>
                                <td><strong>remove-underline</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                
                <p>
                    <strong>Show Hide Elements Responsively By Applying Below Classes (All Bootstrap):</strong><br/>
                </p>
                <br/>
                <div class="pl-2">
                    <table class="text-left mx">
                        <thead class="text-left">
                            <tr>
                                <th>
                                    Visiblity Status in Screen Sizes<br/>
                                    <small>
                                        (XS is Very Small Screens Size, SM is Small Screens Size,<br/> MD is Medium Screens Size, LG is Large Screens Size,<br/> XL is Very Large Screens Size)
                                    </small>
                                </th>
                                <th>Available Class Name</th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            <tr>
                                <td>Element will be Hidden in all</td>
                                <td><strong>d-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Hidden only on xs</td>
                                <td><strong>d-none + d-sm-block</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Hidden only on sm</td>
                                <td><strong>d-sm-none + d-md-block</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Hidden only on md</td>
                                <td><strong>d-md-none + d-lg-block</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Hidden only on lg</td>
                                <td><strong>d-lg-none + d-xl-block</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Hidden only on xl</td>
                                <td><strong>d-xl-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible in all</td>
                                <td><strong>d-block</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible only on xs</td>
                                <td><strong>d-block + d-sm-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible only on sm</td>
                                <td><strong>d-none + d-sm-block + d-md-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible only on md</td>
                                <td><strong>d-none + d-md-block + d-lg-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible only on lg</td>
                                <td><strong>d-none + d-lg-block + d-xl-none</strong></td>
                            </tr>
                            <tr>
                                <td>Element will be Visible only on xl</td>
                                <td><strong>d-none + d-xl-block</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-4">Shadow Card Box For Details Section:</label> <input type="checkbox" class="check-box" id="check-box-4">
            </h3>
            <div class="code-box">
                <p>
                    Use below code for the cards in details section main wrapper is for adding scroll if data overflows inside one is the card add Cards as required one can add multiple cards in a page.
                </p>
                <div>
                    <code class="blue">
<pre>
    &lt;div class="common-full-scroll-details"&gt;
        &lt;div class="details-top-card p-3 m-3"&gt;
            Content in the Card goes here
        &lt;/div&gt;
    &lt;/div&gt;
</pre>
                    </code>
                </div>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Shadow-Box.png" alt="Shadow-Box">
                </div>
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-5">How to Use <strong class="blue">&lt;igx-dialog&gt;&lt;/igx-dialog&gt;</strong>:</label> <input type="checkbox" class="check-box" id="check-box-5">
            </h3>
            <div class="code-box">
                <p>
                    <strong>Use ONLY below template, as this is standard template for igx-dialog in the product:</strong>
                </p>
                <div>
                    <p>
                        1.Do not remove this [focusTrap]="false" property, add your popup id in place of '#popupID';
                        2.Use the template as it is in every popup you add; 
                        3.you may remove these below elements if not required:
                    </p>

                    <code class="blue">
<pre>
    &lt;div class="listview__gen-popup_title bottom-line"&gt;&lt;/div&gt; or/and 
    &lt;div class="listview__gen-popup_footer"&gt;&lt;/div&gt; or/and 
    &lt;span class="listview__gen-popup_close-icon"&gt;&lt;i class="fal fa-times"&gt;&lt;/i&gt;&lt;/span&gt;
</pre>
                    </code>
                    <br/>
                    <p><u class="red">IMP: Must not remove this below div</u></p>
                    <code class="green">
<pre>
    &lt;div class="listview__gen-popup_body"&gt;&lt;/div&gt;    
</pre>
                    </code>
                    <br/>
                    <p>
                        We have two (2) types of igx-dialog in the product below are Examples for the same:<br/>
                        1. Is for any general popup &<br/> 
                        2. Is for alert type popups which are for user confirmation like (Ok, Yes/No, Delete /Cancel, Accept/ Reject etc.)
                    </p>
                </div>
                <br/>
                <div>
                    <p><strong>Ex: Common Dialogue:</strong></p>
                    <div>

                        <code class="blue">
<pre>
    &lt;igx-dialog [focusTrap]="false" #popupID&gt;
        &lt;div class="listview__gen-popup px-2 py-3"&gt;
            &lt;div class="listview__gen-popup_title bottom-line"&gt;
                &lt;h2&gt;Dialog Heading&lt;/h2&gt;
                &lt;!-- this below X icon is optional & use if required else remove --&gt;
                &lt;span class="listview__gen-popup_close-icon"&gt;&lt;i class="fal fa-times"&gt;&lt;/i&gt;&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="listview__gen-popup_body"&gt;
                &lt;div class="py-3"&gt;
                    Dialogue content goes here
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="listview__gen-popup_footer"&gt;
                &lt;div&gt;
                    &lt;button class="new-btn-primary mr-2"&gt;Save&lt;/button&gt;
                    &lt;button class="new-btn-secondary mr-2"&gt;Cancel&lt;/button&gt;
                    &lt;button class="new-btn-secondary mr-2"&gt;Reset&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/igx-dialog&gt;
</pre>
                        </code>
                    </div>
                    <div class="preview">
                        <p><strong>Below is the preview:</strong></p>
                        <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.General-Popup-1.png" alt="General Popup without 'X' button">
                    </div>
                    <div class="preview">
                        <p><strong>Below is the preview:</strong></p>
                        <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.General-Popup-2.png" alt="General Popup with 'X' button">
                    </div>
                </div>
                <br/><br/>
                <div>
                    <p><strong>Ex: YES/NO Type Alert Dialogue:</strong></p>
                    <div>
                        <code class="blue">
<pre>
    &lt;igx-dialog [focusTrap]="false" #popupID&gt;
        &lt;div class="listview__gen-popup p-3" style="width:350px;"&gt;
            &lt;div class="listview__gen-popup_body"&gt;
                &lt;div class="py-3"&gt;
                    &lt;div class="listview__gen-popup-alertheader"&gt;&lt;i class="fal fa-info-circle fa-md mr-2"&gt;&lt;/i&gt; Confirmation&lt;/div&gt;
                    &lt;p class="mt-2"&gt;Confirmation Alert Message will Go Here (like: Are you sure, This is permenent action, etc.)&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="listview__gen-popup_footer"&gt;
                &lt;button class="new-btn-primary"&gt;Yes&lt;/button&gt;
                &lt;button class="new-btn-secondary"&gt;No&lt;/button&gt;
                &lt;!--(yes or no, ok or cancel, accept or reject, or single action alerts buttons should be added here)--&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/igx-dialog&gt;
</pre>
                        </code>
                    </div>
                    <div class="preview">
                        <p><strong>Below is the preview:</strong></p>
                        <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.General-Popup-3.png" alt="Alert Popup">
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-6">How to Add CUSTOM Tabs as Per Design Provided in Style Guide XD in The Product:</label> <input type="checkbox" class="check-box" id="check-box-6">
            </h3>
            <div class="code-box">
                <p>(This needs simple functionality related code to be added in TS also; it is MUST)</p>
                <p><strong>Use the below Example template Ex:</strong></p>
                <div>
                    <code class="blue">
<pre>
    &lt;div class="listview__tab-box"&gt;
        &lt;button class="listview__tab" [ngClass]="showTab == 1 ? 'selected':''" (click)="showTabs(1)"&gt; 
            &lt;span class="mb-1"&gt;TITLE TAB 1&lt;/span&gt; 
        &lt;/button&gt; 
        &lt;button class="listview__tab" [ngClass]="showTab == 2 ? 'selected':''" (click)="showTabs(2)"&gt; 
            &lt;span class="mb-1"&gt;TITLE TAB 2&lt;/span&gt; 
        &lt;/button&gt;
        &lt;button class="listview__tab" [ngClass]="showTab == 2 ? 'selected':''" (click)="showTabs(3)"&gt; 
            &lt;span class="mb-1"&gt;TITLE TAB 3&lt;/span&gt; 
        &lt;/button&gt;
    &lt;/div&gt; 
    &lt;div class="listview__tab-content"&gt; 
        &lt;div *ngIf="showTab == 1"&gt;Tab Content One Goes Here&lt;/div&gt; 
        &lt;div *ngIf="showTab == 2"&gt;Tab Content Two Goes Here&lt;/div&gt; 
        &lt;div *ngIf="showTab == 3"&gt;Tab Content Two Goes Here&lt;/div&gt; 
    &lt;/div&gt;
</pre>
                    </code>
                </div>
                <div>
                    <p><strong>TS Code to be added in the component TS:</strong></p>
                    <code class="blue">
<pre>
/*-------- TS CODE FOR TAB -----*/
showTab: number = 1;
showTabs(tabnumber) {
this.showTab = tabnumber;
} 
/*-------- TS CODE FOR TAB -----*/
</pre>
                    </code>
                </div>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Custom-Tabs.png" alt="Custom-Tabs">
                </div>
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-8">How to add <strong class="blue">&lt;igx-expansion-panel&gt;&lt;/igx-expansion-panel&gt;</strong>:</label> <input type="checkbox" class="check-box" id="check-box-8">
            </h3>
            <div class="code-box">
                <p>
                    Below is way to add expansion panel:<br/><br/>
                    (Note: default expansion panel is with primary background color [which is blue in our product] & style defined; so, to override & use it as per common expansion panel UI guide, with white background which is most used style; enclose the panel code inside a div with same class name (listview__reset-expansion-panel) mentioned below)
                </p>
                <p><strong>Use the below Example template Ex:</strong></p>
                <div>
                    <code class="blue">
<pre>
    &lt;div class="listview__reset-expansion-panel"&gt;
        &lt;!--(Note: With the help of [collapsed] flag = true, which is by default collapsed i.e. [collapsed]="true"; if this is set as false then by default the panel will be opened; BELOW LINE)--&gt;
        &lt;igx-expansion-panel [collapsed]="true"&gt;
            &lt;!--(Note: Whith the help of this property [iconPosition]="'right'", the arrow for open/close panel can be positioned on left end or right end; BELOW LINE)--&gt;
            &lt;igx-expansion-panel-header [iconPosition]="'right'"&gt;
                &lt;igx-expansion-panel-title&gt;
                    The title or the data which will be shown by default & on click of icon at the end/start the panel will expand will go here. It can be row + col or para, text, heading tags anything.
                &lt;/igx-expansion-panel-title&gt;
            &lt;/igx-expansion-panel-header&gt;
            &lt;igx-expansion-panel-body&gt;
                This is the by default hidden data holder it will be shown if the pannel is expanded by clicking on arrow on the END/STSRT of the above header. It can be row+col or grid, table, form or para, text, heading tags any thing.
            &lt;/igx-expansion-panel-body&gt;
        &lt;/igx-expansion-panel&gt;
    &lt;/div&gt;
</pre>
                    </code>
            </div>
                <div class="preview">
                    <p><strong>Below is the preview (Closed):</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Igx-Expansion-Panel-1.png" alt="Igx Expansion Panel Closed">
                </div>
                <div class="preview">
                    <p><strong>Below is the preview (Opened):</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Igx-Expansion-Panel.png" alt="Igx Expansion Panel Opened">
                </div>
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-9">Custom Radio Button Group:</label> <input type="checkbox" class="check-box" id="check-box-9">
            </h3>
            <div class="code-box">
                <p>
                    Since this is a radio button you MUST give the name for this radio button group. Also, set IDs for the buttons. There are 2 options for width of the buttons i.e. auto width means the buttons size will be same as content inside it & will be different for each as per text content inside it. 2nd is class "full-width" which makes it take 100% width of the container holding it, the button width will still be as per text content inside it. (Also, set the default value)
                </p>
                <div>
                    <code class="blue">
<pre>
    &lt;!-- If 100% width is needed use "full-width" --&gt;
    &lt;div class="radio-buttons-box"&gt;
        &lt;span class="radio-buttons-title"&gt;Title for this Radio Button Group&lt;/span&gt;
        &lt;div class="radio-buttons text-uppercase"&gt;
            &lt;span&gt;
                &lt;input type="radio" name="RadioNname" id="Radio_id_1"&gt;
                &lt;label for="Radio_id_1"&gt;Radio One&lt;/label&gt;
            &lt;/span&gt;
            &lt;span&gt;
                &lt;input type="radio" name="RadioNname" id="Radio_id_2"&gt;
                &lt;label for="Radio_id_2"&gt;Radio Two&lt;/label&gt;
            &lt;/span&gt;
            &lt;span&gt;
                &lt;input type="radio" name="RadioNname" id="Radio_id_3"&gt;
                &lt;label for="Radio_id_3"&gt;Radio Two&lt;/label&gt;
            &lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt; 
</pre>
                    </code>
                </div>
                <div class="preview">
                    <p><strong>Below is the preview (Full Width):</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Radio-Buttons-full-width.png" alt="Radio Buttons fullwidth">
                </div>
                <div class="preview">
                    <p><strong>Below is the preview (Auto Width):</strong></p>
                    <img src="ACS-PRODUCT-UI-Hand-Book-img/Preview.Radio-Buttons.png" alt="Radio Buttons">
                </div>
            </div>
        </div>

        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-10">Custom Timeline:</label> <input type="checkbox" class="check-box" id="check-box-10">
            </h3>
            <div class="code-box">
                <div>
                    <code class="blue">
<pre>
    &lt;div class="details-top-card p-3 m-3"&gt;
        &lt;div class="new-common-timeline"&gt;
        &lt;!-- Idealy a loop should be applied on this and it should create all the satpes --&gt;
  
        &lt;!-- Step One Start --&gt;
        &lt;div class="status-red status-orange status-green"&gt;
            &lt;span class="timeline--title" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipPoint1"&gt;
            POINT 1
            &lt;div #tooltipPoint1="tooltip" igxTooltip&gt;Point 1&lt;/div&gt;
            &lt;/span&gt;
            &lt;em class="timeline--dot"&gt;&lt;/em&gt;
            &lt;strong class="timeline--ststus" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltippoint1Status"&gt;
            Point 1 Status 
            &lt;div #tooltippoint1Status="tooltip" igxTooltip&gt;Point 1 Status&lt;/div&gt;
            &lt;/strong&gt;
            &lt;small class="timeline--date-time" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipStatusDate"&gt;24 Sep 2024 09:48&lt;/small&gt;
            &lt;div #tooltipStatusDate="tooltip" igxTooltip&gt;24 Sep 2024 09:48&lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- Step One End --&gt;
    
        &lt;!-- Step Two Start --&gt;
        &lt;div class="status-red status-orange status-green"&gt;
            &lt;span class="timeline--title" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipPoint2"&gt;
            POINT 2 
            &lt;div #tooltipPoint2="tooltip" igxTooltip&gt;Point 2&lt;/div&gt;
            &lt;/span&gt;
            &lt;em class="timeline--dot"&gt;&lt;/em&gt;
            &lt;strong class="timeline--ststus" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltippoint2Status"&gt;
            Point 2 Status 
            &lt;div #tooltippoint2Status="tooltip" igxTooltip&gt;Point 2 Status&lt;/div&gt;
            &lt;/strong&gt;
            &lt;small class="timeline--date-time" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipStatusDate"&gt;25 Sep 2024 10:00&lt;/small&gt;
            &lt;div #tooltipStatusDate="tooltip" igxTooltip&gt;25 Sep 2024 10:00&lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- Step Two End --&gt;
    
        &lt;!-- Step Three Start --&gt;
        &lt;div class="status-red status-orange status-green"&gt;
            &lt;span class="timeline--title" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipPoint3"&gt;
            POINT 3 
            &lt;div #tooltipPoint3="tooltip" igxTooltip&gt;Point 3&lt;/div&gt;
            &lt;/span&gt;
            &lt;em class="timeline--dot"&gt;&lt;/em&gt;
            &lt;strong class="timeline--ststus" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltippoint3Status"&gt;
            Point 3 Status
            &lt;div #tooltippoint3Status="tooltip" igxTooltip&gt;Point 3 Status&lt;/div&gt;
            &lt;/strong&gt;
            &lt;small class="timeline--date-time" showDelay="400" hideDelay="0" [igxTooltipTarget]="tooltipStatusDate"&gt;27 Sep 2024 12:00&lt;/small&gt;
            &lt;div #tooltipStatusDate="tooltip" igxTooltip&gt;27 Sep 2024 12:00&lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- Step Three End --&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
                    </code>
            </div>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="" alt="">
                </div>
            </div>
        </div>




        <div class="accordion-box px-1 py-2 mb-2">
            <h3>
                <label for="check-box-12">Section Heading:</label> <input type="checkbox" class="check-box" id="check-box-12">
            </h3>
            <div class="code-box">
                <div>
                    <code class="blue">
    <pre>

    </pre>
                    </code>
            </div>
                <div class="preview">
                    <p><strong>Below is the preview:</strong></p>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
